@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';
@import '../../assets/styles/functions';

.aqindex {
  position: relative;
  width: units(300px);

  &-index {
    margin: units(2px 5px);
    min-width: units(75px);
    padding: units(3px);
    text-align: center;
  }

  &-title {
    text-align: center;
  }

  &-unhealthy__sensitive {
    background-color: $sensitive;
  }

  &-unhealthy {
    background-color: $unhealthy;
  }

  &-unhealthy__very {
    background-color: $veryUnhealthy;
  }

  &-hazardous {
    background-color: $hazardous;
  }

  @include medium() {
    bottom: 0;
    position: fixed;
  }

  @include large() {
    bottom: 0;
    position: fixed;
  }
}
