.aqindex {
  width: 300px;
  position: fixed;
  bottom: 0;

  &-index {
    padding: 3px;
    margin: 2px 5px;
    min-width: 75px;
    text-align: center;
  }

  &-title {
    text-align: center;
  }

  &-unhealthy__sensitive {
    background-color: #ff9933bf;
  }

  &-unhealthy {
    background-color: #cc0033bf;
  }

  &-unhealthy__very {
    background-color: #660099bf;
  }

  &-hazardous {
    background-color: #7e0023;
  }
}
