@import '../../assets/styles/mixins';
@import '../../assets/styles/functions';

.feed {
  width: 100%;

  &-name,
  &-url {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  @include medium() {
    width: units(512px);
  }

  @include large() {
    width: units(512px);
  }
}
